    <div class="main-content flex-fill ms-5 mb-0">
        <h1 class="h2 mb-5 fw-bold">Редактирование дохода/расхода</h1>

        <form class="create-income-category" >
            <div class="input-group d-flex flex-column" >
                <select class="category-input form-control border rounded" id="budget-type"
                        required>
                    <option value="" disabled selected hidden id="beforehand-category-name"></option>
                    <option value="income">Доход</option>
                    <option value="expense">Расход</option>
                </select>
                <div class="invalid-feedback ms-2">Выберите тип дохода/расхода</div>
                <div class="invalid-feedback ms-2">Введите тип дохода/расхода</div>

                <select class="category-input form-control mt-2 border rounded" id="budget-category" required>
                    <option value="" disabled selected hidden>Категория...</option>
                </select>
<!--                <input type="text" class="category-input form-control mt-2 border rounded"  value="Зарплата" id="budget-category" required>-->
                <div class="invalid-feedback ms-2">Введите категорию</div>

                <input type="text" onkeyup="value = value.replace(/[^\d]/g,'')" class="category-input form-control mt-2 border rounded"   placeholder="500$" value="500$" id="budget-sum" required>
                <div class="invalid-feedback ms-2">Введите сумму</div>

                <input type="date" class="category-input form-control mt-2 border rounded"   value="" id="budget-date" required>
                <div class="invalid-feedback ms-2">Введите дату</div>

                <textarea cols="30" rows="1" class="category-input form-control mt-2 border rounded"
                            placeholder="Комментарий..." id="budget-comment"></textarea>
                <div class="invalid-feedback ms-2">
                    Введите комментарий
                </div>
            </div>

            <div class="create-income-category-buttons mt-4 d-flex">
                <button type="button" class="btn btn-success px-3 me-2" id="edit-budget-button" disabled>Сохранить</button>
                <a href="#/income-and-expense" type="button" class="btn btn-danger px-3">Отмена</a>
            </div>
        </form>
    </div>