  <div class="main-content flex-fill ms-5">

    <h1 class="h2  mb-5 fw-bold">Создание категории доходов</h1>

    <form class="create-income-category" >
      <div class="input-group d-flex flex-column" >
        <input type="text" class="category-input form-control rounded border" placeholder="Название..." id="new-category-name">
        <div class="invalid-feedback ms-2">
          Введите название категории
        </div>
        <div class="create-income-category-buttons mt-4 d-flex">
          <button type="button" class="btn btn-success px-3 me-2" id="create-category-button" disabled>Создать</button>
          <a href="#/income" type="button" class="btn btn-danger px-3">Отмена</a>
        </div>
      </div>
    </form>
  </div>