<div class="main-content flex-fill ms-sm-5 ms-2 mb-0">

    <h1 class="h2 mb-5 fw-bold ms-2 ms-sm-">Главная</h1>

    <div class="filters mb-5 calendar-size ms-2 ms-sm-0">
        <button type="button" class="btn btn-outline-secondary me-3 mb-3" id="today">Сегодня</button>
        <button type="button" class="btn btn-outline-secondary me-3 mb-3" id="week">Неделя</button>
        <button type="button" class="btn btn-outline-secondary me-3 mb-3" id="month">Месяц</button>
        <button type="button" class="btn btn-outline-secondary me-3 mb-3" id="year">Год</button>
        <button type="button" class="btn btn-outline-secondary me-3 mb-3" id="all">Все</button>
        <button type="button" class="btn btn-outline-secondary me-3 mb-3" id="interval-btn">Интервал</button>
        <div class="interval mt-2 d-inline-block align-top d-none" id="interval-inputs">
            с <input type="text" readonly class="text-secondary mx-2 border-0" placeholder="Дата" id="date-from"> по <input type="text" readonly class="text-secondary mx-2 border-0" placeholder="Дата" id="date-to">
        </div>
    </div>


    <div class="charts d-flex flex-lg-row flex-column pt-4">
        <div class="chart income-chart pe-lg-5 mb-4">
            <div class="chart-title income-chart-title text-center h5 fw-bold mb-2">Доходы</div>
<!--            <img src="images/income-chart.png" alt="income-chart">-->
            <canvas id="income-chart" class="mx-auto"></canvas>
        </div>

        <div class="divider mb-5 pt-4 d-lg-flex d-none">
            <div class="vr"></div>
        </div>

        <div class="chart expense-chart ps-lg-5 mb-4">
            <div class="chart-title expense-chart-title text-center h5 fw-bold mb-2">Расходы</div>
<!--            <img src="images/expense-chart.png" alt="expense-chart">-->
            <canvas id="expense-chart" class="mx-auto"></canvas>
        </div>
    </div>
</div>


