body {
    margin: 0;
    font-family: "Roboto Regular", sans-serif;
}

@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
    font-family: "Roboto Regular";
}

@font-face {
    src: url("../fonts/Roboto-Medium.ttf");
    font-family: "Roboto Medium";
}

.container {
    margin: 0 auto;
    padding: 0;
}

.flex-column a img {
    max-width: 98px;
    margin-top: 10px;
}

.flex-column ul li a {
    color: #052C65;
    width: 178px;
    text-align: left;
}

.flex-column ul li button {
    color: #052C65;
    width: 178px;
}

.balance {
    color: #052C65;
}

.user-info a {
    color: #052C65;
}

li  {
    color: #052C65;
}

.h2 {
    color: #052C65;
    margin-top: 80px;
}

.adaptive-header {
    display: none;
}

.adaptive-header a img {
    max-width: 98px;
    margin: 20px;
}

.normal-sidebar {
    display: flex;
}

.adaptive-sidebar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 85px;
    transition: 0.5s;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:hover {
    color: #0D6EFD;
}

/* Положение и стиль кнопки закрытия (верхний правый угол) */
.sidebar .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.adaptive-sidebar .nav-link {
    width: 200px;
}


@media screen and (max-width: 768px) {
    .adaptive-header {
        display: flex;
    }

    .normal-sidebar {
        display: none;
    }
}
