.nav-pills li a {
    width: 100px;
    text-align: center;
}

.charts img {
    max-width: 437px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;;
    margin-bottom: 80px;;
}

.chart-title {
    color: #052C65;
    text-align: center;
}

.charts .divider {
    display: flex;
}


@media screen and (max-width: 992px) {
    .charts {
        flex-direction: column;
    }

    .chart {
        text-align: center;
    }

    .charts .divider {
        display: none;
    }
}











